/* Category Styles */
.cat {
    transition: 0.3s;
    height: 180px;
}

.cat:hover {
    transform: scale(1.1);
}

.cat span {
    font-size: 10px;
}

.cat img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}